.App {
  text-align:center;
}

.indented {
  display:inline-block;
  text-align:left;
}

.title {
  margin-left:-5%;
}

@media screen and (min-width:767px) {
  .App {
    text-align:center;
  }
  
  .indented {
    display:inline-block;
    text-align:left;
  }
  
  .title {
    margin-left:-15%;
  }
} 